@using RCSoft.Web.Models.Customers;
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI;
@model GridModel<CustomerRoleModel>
@{
    ViewBag.Title = @WebViewPage.("Customers.CustomerRole");
}


<h2>List</h2>
