<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">
      <siteMapNode title="Dashboard" RCSoftResource="Dashboard" controller="Home" action="Index" ImageUrl="~/Content/images/ico-dashboard.png"/>
      <siteMapNode title="Purchases" RCSoftResource="Purchases" ImageUrl="~/Content/images/purchares.png">
        <siteMapNode title="Catalog" RCSoftResource="Products.Catalog" controller="Category" action="List"/>
        <siteMapNode title="Products" RCSoftResource="Products" controller="CustomerRole" action="List"/>
      </siteMapNode>
      
      <siteMapNode title="Products" RCSoftResource="Products" ImageUrl="~/Content/images/ico-catalog.png">
        <siteMapNode title="Catalog" RCSoftResource="Products.Catalog" controller="Category" action="List"/>
        <siteMapNode title="Products" RCSoftResource="Products" controller="CustomerRole" action="List"/>
      </siteMapNode>
      
      <siteMapNode title="Sales" RCSoftResource="Sales" ImageUrl="~/Content/images/Orders.png">
        <siteMapNode title="Catalog" RCSoftResource="Products.Catalog" controller="Category" action="List"/>
        <siteMapNode title="Products" RCSoftResource="Products" controller="CustomerRole" action="List"/>
      </siteMapNode>
      
      <siteMapNode title="Customers" RCSoftResource="Customers" ImageUrl="~/Content/images/ico-customers.png">
        <siteMapNode title="Customers Group" RCSoftResource="Customers.Group" controller="CustomerRole" action="List"/>
        <siteMapNode title="Customers" RCSoftResource="Customers" controller="CustomerRole" action="List"/>
        <siteMapNode title="Supplier" RCSoftResource="Supplier" controller="CustomerRole" action="List"/>
      </siteMapNode>
      
      <siteMapNode title="Promotions" RCSoftResource="Promotions" ImageUrl="~/Content/images/ico-promotions.png">
        <siteMapNode title="Email" RCSoftResource="Promotions.Email" controller="CustomerRole" action="List"/>
        <siteMapNode title="Message" RCSoftResource="Promotions.Message" controller="CustomerRole" action="List"/>
        <siteMapNode title="Settings" RCSoftResource="Promotions.Settings" controller="CustomerRole" action="List">
          <siteMapNode title="Template" RCSoftResource="Promotions.Settings.Template" controller="CustomerRole" action="List"/>
          <siteMapNode title="AutoSent " RCSoftResource="Promotions.Settings.AutoSent" controller="CustomerRole" action="List"/>
        </siteMapNode>
        <siteMapNode title="Recharge" RCSoftResource="Promotions.Message.Recharge" controller="CustomerRole" action="List"/>
      </siteMapNode>
      
      <siteMapNode title="Reports" RCSoftResource="Reports" ImageUrl="~/Content/images/ico-sales.png">
        <siteMapNode title="Customer" RCSoftResource="Reports.Customer" controller="CustomerRole" action="List">
          <siteMapNode title="Grade " RCSoftResource="Reports.Customer.Grade" controller="CustomerRole" action="List"/>
          <siteMapNode title="Region " RCSoftResource="Reports.Customer.Region" controller="CustomerRole" action="List"/>
        </siteMapNode>
        <siteMapNode title="Order" RCSoftResource="Reports.Order" controller="CustomerRole" action="List">
          <siteMapNode title="amount" RCSoftResource="Reports.Order.amount" controller="CustomerRole" action="List"/>
          <siteMapNode title="MonthAnalysis " RCSoftResource="Reports.Order.MonthAnalysis" controller="CustomerRole" action="List"/>
        </siteMapNode>
      </siteMapNode>

      <siteMapNode title="Settings" RCSoftResource="Settings" ImageUrl="~/Content/images/Setting.png">
        <siteMapNode title="Catalog" RCSoftResource="Products.Catalog" controller="Category" action="List"/>
        <siteMapNode title="Products" RCSoftResource="Products" controller="CustomerRole" action="List"/>
      </siteMapNode>
    </siteMapNode>
</siteMap>
